<!-- Header -->
<div class="header">
  <div
    class="container px-sm-0 d-flex justify-between item-center flex-sm-column"
  >
    <div class="d-flex py-sm-3 pl-sm-4 flex-sm-start item-sm-center w-sm-100">
      <a href="../pages/index.html">
        <img
          src="../assets/images/logo-white.png"
          style="display: block; width: 80px"
          alt="logo_white"
      /></a>
    </div>
    <ul class="d-flex py-6 py-sm-0 gap-16 gap-sm-0 flex-sm-wrap w-sm-100">
      <li
        class="border-sm border-sm-1 border-sm-white w-sm-50 fs-5 fs-sm-4 text-center text-white"
      >
        <a class="d-block py-sm-3" href="#">門市據點</a>
      </li>
      <li
        class="border-sm border-sm-1 border-sm-white w-sm-50 fs-5 fs-sm-4 text-center text-white"
      >
        <a class="d-block py-sm-3" href="#">部落格</a>
      </li>
      <li
        class="border-sm border-sm-1 border-sm-white w-sm-50 fs-5 fs-sm-4 text-center text-white"
      >
        <a class="d-block py-sm-3" href="#">系列鏡框</a>
      </li>
      <li
        class="border-sm border-sm-1 border-sm-white w-sm-50 fs-5 fs-sm-4 text-center text-white"
      >
        <a class="d-block py-sm-3" href="FAQ.html">常見問題</a>
      </li>
    </ul>
  </div>
</div>
