<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>2024切版直播班Week4作業</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- Banner -->
    <div class="banner">
      <div class="container py-74 d-flex flex-column item-end">
        <h1 class="fs-9 fs-sm-4">Promise-Desert 2020 早春系列</h1>
        <h2 class="fs-16 fs-sm-6 mb-1">看得清，才能看得遠</h2>
        <div class="btn fs-5 fs-sm-5 text-white">立即購買</div>
      </div>
    </div>

    <!-- Intro -->
    <div style="background: #fbf2f2">
      <div class="container py-20">
        <div class="BigTitle mb-8">用專業的心，做專業的事</div>
        <ul class="d-flex flex-md-wrap justify-between gap-6 gap-sm-0">
          <li class="w-25 w-md-50 w-sm-100 d-flex flex-column item-center">
            <div class="introIcon">
              <img src="../assets/images/home-section2-1.png" alt="" />
            </div>
            <div class="introTitle">單一價格</div>
            <div class="introDesc">
              無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
            </div>
          </li>
          <li class="w-25 w-md-50 w-sm-100 d-flex flex-column item-center">
            <div class="introIcon">
              <img src="../assets/images/home-section2-2.png" alt="" />
            </div>
            <div class="introTitle">20 分鐘即可取件</div>
            <div class="introDesc">
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </div>
          </li>
          <li class="w-25 w-md-50 w-sm-100 d-flex flex-column item-center">
            <div class="introIcon">
              <img src="../assets/images/home-section2-3.png" alt="" />
            </div>
            <div class="introTitle">安心售後服務</div>
            <div class="introDesc">
              我們提供長達 120
              天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
            </div>
          </li>
          <li class="w-25 w-md-50 w-sm-100 d-flex flex-column item-center">
            <div class="introIcon">
              <img src="../assets/images/home-sectioin2-4.png" alt="" />
            </div>
            <div class="introTitle">關於鏡片</div>
            <div class="introDesc">
              使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Glasses -->
    <div>
      <div class="container py-20">
        <div class="BigTitle mb-12">經典系列鏡框</div>
        <ul class="d-flex flex-md-wrap justify-between gap-6 gap-sm-0">
          <li class="w-33 w-md-100 d-flex flex-column item-center">
            <div class="glassesImg">
              <img src="../assets/images/home-section3-1.png" alt="" />
            </div>
            <div class="glassesTitle">OPTICAL</div>
          </li>
          <li class="w-33 w-md-100 d-flex flex-column item-center">
            <div class="glassesImg">
              <img src="../assets/images/home-section3-2.png" alt="" />
            </div>
            <div class="glassesTitle">SUNGLASSES</div>
          </li>
          <li class="w-33 w-md-100 d-flex flex-column item-center">
            <div class="glassesImg">
              <img src="../assets/images/home-section3-3.png" alt="" />
            </div>
            <div class="glassesTitle">FUNCTIONAL</div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Glasses -->
    <div class="glasses">
      <div class="container py-20">
        <div class="BigTitle mb-12">經典系列鏡框</div>
        <ul class="d-flex flex-md-wrap justify-between">
          <li class="w-50 w-md-100 d-flex flex-column item-center mb-md-6">
            <picture>
              <source
                media="(max-width: 376px)"
                srcset="../assets/images/home-section4-1-sm.png"
              />
              <img
                src="../assets/images/home-section4-1.png"
                alt="responsive image"
              />
            </picture>
            <div class="glassesUnionTitle">DOUBLE A+</div>
          </li>
          <li class="w-50 w-md-100 d-flex flex-column item-center">
            <picture>
              <source
                media="(max-width: 376px)"
                srcset="../assets/images/home-section4-2-sm.png"
              />
              <img
                src="../assets/images/home-section4-2.png"
                alt="responsive image"
              />
            </picture>
            <div class="glassesUnionTitle">YOUTH</div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Suggests -->
    <div class="suggests">
      <div class="container py-20">
        <div class="BigTitle mb-12">顧客推薦</div>
        <ul class="d-flex flex-md-wrap justify-center gap-6 gap-sm-4">
          <li class="suggestCard w-25 w-md-50 w-sm-100 d-flex flex-column">
            <div class="suggestsImg">
              <img src="../assets/images/home-section5-1.png" alt="" />
            </div>
            <div class="suggestblock d-flex flex-column p-4">
              <div class="suggestsName">Jessy</div>
              <div class="suggestsDesc">
                眼鏡品質優良，下次還會想來這邊購買！
              </div>
              <div class="suggestsDate">2021/06/20</div>
            </div>
          </li>
          <li class="suggestCard w-25 w-md-50 w-sm-100 d-flex flex-column">
            <div class="suggestsImg">
              <img src="../assets/images/home-section5-2.png" alt="" />
            </div>
            <div class="suggestblock d-flex flex-column p-4">
              <div class="suggestsName">凱倫</div>
              <div class="suggestsDesc">
                做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
              </div>
              <div class="suggestsDate">2021/04/18</div>
            </div>
          </li>
          <li class="suggestCard w-25 w-md-50 w-sm-100 d-flex flex-column">
            <div class="suggestsImg">
              <img src="../assets/images/home-section5-3.png" alt="" />
            </div>
            <div class="suggestblock d-flex flex-column p-4">
              <div class="suggestsName">悠悠</div>
              <div class="suggestsDesc">
                謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
              </div>
              <div class="suggestsDate">2020/12/25</div>
            </div>
          </li>
          <li class="suggestCard w-25 w-md-50 w-sm-100 d-flex flex-column">
            <div class="suggestsImg">
              <img src="../assets/images/home-section5-4.png" alt="" />
            </div>
            <div class="suggestblock d-flex flex-column p-4">
              <div class="suggestsName">Kyuan</div>
              <div class="suggestsDesc">
                服務很好，品質沒有任何問題，非常喜歡。
              </div>
              <div class="suggestsDate">2020/10/31</div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- ContactUs -->
    <div class="contact">
      <div class="container py-20">
        <div class="w-50 w-md-80 w-sm-100 m-auto">
          <div class="BigTitle mb-12">聯絡我們</div>
          <p class="fs-5 mb-6">
            我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
          </p>
          <form action="submit_form.php" method="post">
            <label for="name">姓名:</label><br />
            <input
              class="w-100 input_text"
              type="text"
              id="name"
              name="name"
              placeholder="陳小明"
            /><br /><br />

            <label for="phone">聯絡電話:</label><br />
            <input
              class="w-100 input_text"
              type="tel"
              id="phone"
              name="phone"
              placeholder="0912-345-678"
              required
            /><br /><br />

            <label for="email">Email:</label><br />
            <input
              class="w-100 input_text"
              type="email"
              id="email"
              name="email"
              placeholder="example@email.com"
              required
            /><br /><br />

            <label for="feedback">意見回饋:</label><br />
            <textarea
              class="w-100 input_textarea"
              id="feedback"
              name="feedback"
              rows="4"
              cols="50"
              placeholder="請輸入您的意見"
              required
            ></textarea
            ><br /><br />
            <input type="checkbox" id="agreecheck" name="agreecheck" required />
            <label for="agreecheck"
              >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
            ><br /><br />

            <div class="d-flex justify-center">
              <button class="contactBtn" type="submit">確認送出</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
